<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rumus</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1 class="headline">Rumus mtk</h1>

    <div class="deret">
        <h2>Matematika deret (sequences)</h2>
        <label for="s-know">Suku awal(1) / Diketahui</label>
        <input type="number" class="suku-diketahui" id="s-know" placeholder="1">

        <label for="n-know">Nilai awal / dari suku yang Diketahui</label>
        <input type="number" class="nilai-suku-diketahui"  id="n-know" placeholder="0">

        <label for="b">Beda</label>
        <input type="number" class="beda" id="b">

        <label for="n">Mencari suku ke :</label>
        <input type="number" class="suku-n" id="n">

        <button class="rButton">Result</button>
        <p>Hasil: <span class="result"></span></p>
    </div>


<script src="./app.js"></script>
</body>
</html>