<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rumus</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1 class="headline">Rumus mtk</h1>

    <div class="deret">
        <h2>Matematika deret (sequences)</h2>
        <label for="">Suku Diketahui</label>
        <input type="text" class="suku-diketahui">
        <label for="">Nilai dari suku yang Diketahui</label>
        <input type="text" class="nilai-suku-diketahui">
        <label for="">Beda</label>
        <input type="text" class="beda">
        <label for="">Mencari suku ke :</label>
        <input type="text" class="suku-n">
        <button>Result</button>
    </div>
</body>
</html>